@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --primary-color : #6ee7b7;
}

hr{
    margin: 2rem 0rem ;
}
body {
    font-family: 'Poppins', sans-serif;
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-fluid {
    max-width: 600px;
    margin: auto;
}

.links{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: blueviolet;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}